@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

.transactions-page {
    width: 100vw;
    min-height: 100vh;
    background-color: $main-white;
    display: flex;
    flex-direction: column;
    @include desktop {
        height: 100vh;
        flex-direction: row;
    }
    &__content {
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 1rem;
        color: $secondary-green;
        margin-top: 92px;
        @include tablet {
            margin-top: 132px;
            position: relative;
        }
        @include desktop {
            margin-top: 0;
            height: unset;
            flex-direction: row;
        }
    }
        &__main {
            width: 100%;
            height: 100%;
            padding: 2rem;
            border-radius: 8px;
            background-color: white;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;
            text-transform: uppercase;
    }
}
