@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";


.dashboard__graph-wrapper{
    flex:1;
    border-radius: 8px;
    background-color: white;
    padding: 2rem 4rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    @include desktop {
        padding: 2rem 2rem 0;
    }
}
.dashboard__graph-title {
    text-align: center;
    width: 100%;
}
.dashboard__graph-date {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
    padding:1rem 0;
    color: rgb(128, 128, 128, 0.8);
    text-transform: none;
}
.dashboard__graph-data {
    margin: auto 0;
    @include desktop {
        max-width: 500px;
    }
}