@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";


.user-info {
    flex:1;
    width: 100%;
}
.user-info-form{
        padding: 2rem 2rem 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    &__title {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 5rem;
        text-align: center;
        user-select: none;
    }
    &__login {
        flex:1;
        padding:0 2rem 0.7rem;
        border-bottom: 2px solid rgb(128, 128, 128, 0.4);
        color:rgb(128, 128, 128, 0.4);
        cursor: pointer;
        &--active {
            flex:1;
            padding:0 2rem 0.7rem;
            border-bottom: 2px solid $main-green; 
            color: $main-green;
            cursor: pointer;
        }
    }
    &__user-wrapper, &__pass-wrapper {
        position: relative;
    }
    &__input-wrapper {
        width: 100%;
        max-width: 400px;
        border: none;
        background-color: white;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        box-shadow:0 0 3px  $main-green;
        color: $secondary-green;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
        @include tablet {
            padding: 0.8rem 1.5rem;
        }
        &--error {
            width: 100%;
            max-width: 400px;
            border: none;
            background-color: white;
            border-radius: 20px;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            transition: 0.2s ease-in-out;
            box-shadow:0 0 3px red;
            @include tablet {
                padding: 0.8rem 1.5rem;
            }
        }
    }
    &__input {
        width: 100%;
        margin-left: 1rem;
        padding-left: 1rem;
        border: none;
        border-left: 2px solid rgb(128, 128, 128, 0.5);
        background-color: white;
        height: 1.5rem;
        outline: none;
        font-size: 0.8rem;
        @include tablet {
            font-size: 1.1rem; 
        }
    }
    &__error-wrapper {
        position: absolute;
        bottom: -30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }
    &__error-text {
        color: red;
        font-size: 0.7rem;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: auto;
        @include desktop {
            justify-content: flex-end;
        }
    }
    &__button {
        padding: 0.6rem 1.6rem;
        background-color: $secondary-green;
        border: none;
        text-transform: uppercase;
        border-radius: 25px;
        color: white;
        font-size: 1.1rem;
        cursor: pointer;
        &:active {
            transform: scale(0.98);
        }
    }
}
