@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

.transaction-item {
    width: 100%;
    min-width: 350px;
    height: 100%;
    padding: 1rem 0 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
    color: $secondary-green;
    text-transform: none;
    &__title {
        flex:1.5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    &__name {
        white-space: nowrap;
    }
    &__category {
        font-size: 0.9rem;
        color: rgb(128, 128, 128, 0.7);
    }
    &__date {
        flex:2;
        white-space: wrap;
    }
    &__amount {
        flex: 1;
        text-align: start;
        width: fit-content;
        white-space: nowrap;
    }
}