@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";


.charts__main {
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include desktop {
        height: fit-content;
    }
}

.pie-charts {
    &__graph {
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-heading {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }
        &-title {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
        }
        &-date {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid rgb(128, 128, 128, 0.5);
            padding:1rem 0;
            color: rgb(128, 128, 128, 0.8);
        }
        &-data {
            flex:1;
            width: 70%;
            max-width: 600px;
            height: fit-content;
            padding: 4rem 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @include desktop {
                padding: 4rem 2rem;
                height: 80%;
                width: 90%;
                min-height: 500px;
                max-width: 700px;
            }
        }
        &-info {
            padding: 2rem;
            border-radius: 8px;
            background-color: white;
            height: fit-content;
            width: 100%;
        }
        &-info-title {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid rgb(128, 128, 128, 0.5);
            padding: 0 0 2rem;
        }
        &-category {
            width: 100%;
            height: fit-content;
            color: $secondary-green;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:0 auto;
            padding:2rem;
            border-bottom: 1px solid rgb(128, 128, 128, 0.5);
        }
    }
}


