@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

.auth-form {
    transform: translateY(-50px);
    display: none;
    &--after {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
        @include desktop {
            display: unset;
            opacity: 0;
            &--after {
                position: absolute;
                top: 30%;
                left: 15%;
                opacity: 1;
                transition: 0.35s ease-in;
                transition-delay: 1s;
        }
    }
    &__title {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 5rem;
        text-align: center;
        user-select: none;
    }
    &__login {
        flex:1;
        padding:0 2rem 0.7rem;
        border-bottom: 2px solid rgb(128, 128, 128, 0.4);
        color:rgb(128, 128, 128, 0.4);
        cursor: pointer;
        &--active {
            flex:1;
            padding:0 2rem 0.7rem;
            border-bottom: 2px solid $main-green; 
            color: $main-green;
            cursor: pointer;
        }
    }
    &__signup {
        flex:1;
        padding:0 2rem 0.7rem;
        border-bottom: 2px solid rgb(128, 128, 128, 0.4);
        color:rgb(128, 128, 128, 0.4);
        cursor: pointer;
        &--active {
            flex:1;
            padding:0 2rem 0.7rem;
            border-bottom: 2px solid $main-green; 
            color: $main-green;
            cursor: pointer;
        }
    }
    &__user-wrapper, &__pass-wrapper {
        position: relative;
    }
    &__input-wrapper {
        width: 100%;
        width: 400px;
        border: none;
        background-color: $main-white;
        border-radius: 20px;
        padding: 0.8rem 1.5rem;
        box-shadow:0 2px 10px  $main-green;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
        &--error {
            width: 100%;
            width: 400px;
            border: none;
            background-color: $main-white;
            border-radius: 20px;
            padding: 0.8rem 1.5rem;
            display: flex;
            align-items: center;
            transition: 0.2s ease-in-out;
            box-shadow:0 2px 10px red;
        }
    }
    &__input {
        width: 100%;
        margin-left: 1rem;
        padding-left: 1rem;
        border: none;
        border-left: 2px solid rgb(128, 128, 128, 0.5);
        background-color: $main-white;
        height: 1.5rem;
        outline: none;
        font-size: 1.1rem;
    }
    &__error-wrapper {
        position: absolute;
        bottom: -30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }
    &__error-text {
        color: red;
        font-size: 0.7rem;
    }
    &__button {
        background-color: $main-green;
        padding: 0.8rem 4rem;
        border-radius: 25px;
        color: $main-white;
        font-weight: 600;
        font-size: 1.2rem;
        border:none;
        cursor: pointer;
    }
}