@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

.settings {
&__colorpicker {
    border-radius: 8px;
    background-color: white;
    padding: 2rem;
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &-title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding:1rem 1rem 2rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid rgb(128, 128, 128, 0.5);
    }
    &-chart-selector {
        width: 100%;
        margin-bottom: 2rem;
    }
    &-buttons {
       display: flex;
       flex-direction: column;
       gap: 2rem;
       justify-content: space-between;
       padding-top: 3rem;
       @include navBreak {
        flex-direction: row;
        width: 100%;
       }
        @include desktop {
            gap: 0;
            padding-top: 0;
            margin-top: auto;
        }
     
    }
    &-apply-button {
        padding: 0.6rem 1.6rem;
        background-color: $secondary-green;
        border: none;
        text-transform: uppercase;
        border-radius: 25px;
        color: white;
        font-size: 1.1rem;
        cursor: pointer;
        &:active {
            transform: scale(0.98);
        }
    
    }
    &-reset-button {
        padding: 0.6rem 1.6rem;
        background-color: white;
        border: 2px solid $secondary-green;
        text-transform: uppercase;
        border-radius: 25px;
        color: $secondary-green;
        font-size: 1.1rem;
        cursor: pointer;
        &:active {
            transform: scale(0.98);
        } 
    }
}
}