@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";

.navblock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $secondary-green;
    position: relative;
    @include desktop {
        flex-direction: column;
    }
}

.navblock__logo-wrapper {
    width: 100%;
    padding:1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: $secondary-green;
    @include desktop {
        justify-content: flex-start;
        padding:1rem 2rem;
    }
}
.navblock-logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #617e7b;
    @include desktop {
        flex:1;
        width: 130px;
        height: 130px;
    }
}
.navblock__links-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
    background-color: $secondary-green;
    position: absolute;  
    top: -244px;
    z-index: 1;
    transition: 0.5s ease-in-out;
    &--after {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
    background-color: $secondary-green;
    position: absolute;  
    top: 130px; 
    z-index: 1;
    transition: 0.5s ease-in-out;
    }
    @include navBreak {
        flex-direction: row;
        align-items: flex-start;
        top: 0;
        &--after {
            top: 130px; 
            flex-direction: row;
            align-items: flex-start;
        }
    }
    @include desktop {
        height: 100%;
        flex-direction: column;
        position: unset;
        &--after {
            height: 100%;
            flex-direction: column;
            position: unset;  
        }
    }
}
.navblock__link{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    color: $main-white;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    &:hover &-text {
            border-bottom: 1px solid $main-white;
    }
}
.navblock__logout-button {
    background-color: $secondary-green;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    color: $main-white;
    font-size: inherit;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: auto;
    white-space: nowrap;
}
.navblock__burger-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: 2rem;
    background-color: $secondary-green;
    @include desktop {
        display: none;
    }
}

.bar1, .bar2, .bar3{
    background-color: $main-white;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.bar1--after {
    background-color: $main-white;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    transform:translateY(10px) rotate(225deg);
}
.bar2--after{
    background-color: $main-white;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    transform:rotate(315deg);
}
.bar3--after {
    background-color: $main-white;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    opacity: 0;
}